# Production build files
.next/

# Node modules
node_modules/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files (optional)
.idea/
.vscode/

